<?php
return PhpCsFixer\Config::create()
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->exclude('src/InfluxDB2/Model')
            ->exclude('src/InfluxDB2/Service')
            ->notPath('src/InfluxDB2/HeaderSelector.php')
            ->notPath('src/InfluxDB2/ObjectSerializer.php')
            ->in(__DIR__)
    )
;