version: "3.6"

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/code
    working_dir: /code
    network_mode: host

  influxdb_v2:
    image: quay.io/influxdb/influxdb:v2.0.3
    ports:
      - "8086:8086"
    command: influxd --reporting-disabled
