parameters:
	ignoreErrors:
		-
			message: '#^Call to method InfluxDB2\\Model\\Bucket\:\:getId\(\) with incorrect case\: getID$#'
			identifier: method.nameCase
			count: 1
			path: examples/BucketManagementExample.php

		-
			message: '#^Cannot access offset ''org'' on InfluxDB2\\ClientOptions\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: examples/BucketManagementExample.php

		-
			message: '#^Parameter \#1 \$start of method InfluxDB2\\Model\\DeletePredicateRequest\:\:setStart\(\) expects DateTime, DateTime\|false given\.$#'
			identifier: argument.type
			count: 1
			path: examples/DeleteDataExample.php

		-
			message: '#^Parameter \#2 \$params of method InfluxDB2\\InvokableScriptsApi\:\:invokeScript\(\) expects array\<string, object\>\|null, array\<string, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: examples/InvokableScripts.php

		-
			message: '#^Parameter \#2 \$params of method InfluxDB2\\InvokableScriptsApi\:\:invokeScriptStream\(\) expects array\<string, object\>\|null, array\<string, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: examples/InvokableScripts.php

		-
			message: '#^Parameter \#1 \$start of method InfluxDB2\\Model\\DeletePredicateRequest\:\:setStart\(\) expects DateTime, DateTime\|false given\.$#'
			identifier: argument.type
			count: 1
			path: examples/QueryExample.php

		-
			message: '#^Parameter \#2 \$length of function fread expects int\<1, max\>, int\<0, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: examples/QueryFromFileExample.php

		-
			message: '#^Method InfluxDB2\\Client\:\:ping\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/InfluxDB2/Client.php

		-
			message: '#^Method InfluxDB2\\ClientOptionsUdp\:\:toArray\(\) should return array\{udpHost\: string, udpPort\: int\<1, 65535\>, ipVersion\: 4\|6\} but returns array\{udpHost\: string, udpPort\: int, ipVersion\: 4\|6\}\.$#'
			identifier: return.type
			count: 1
			path: src/InfluxDB2/ClientOptionsUdp.php

		-
			message: '#^Binary operation "\." between ''allow_redirects\=''\|''bucket\=''\|''debug\=''\|''httpClient\=''\|''ipVersion\=''\|''logFile\=''\|''org\=''\|''precision\=''\|''proxy\=''\|''tags\=''\|''timeout\=''\|''token\=''\|''udpHost\=''\|''udpPort\=''\|''url\=''\|''verifySSL\='' and bool\|int\|Psr\\Http\\Client\\ClientInterface\|string\|null results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/InfluxDB2/DefaultApi.php

		-
			message: '#^Instanceof between Psr\\Http\\Message\\ResponseInterface and Psr\\Http\\Message\\ResponseInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/InfluxDB2/DefaultApi.php

		-
			message: '#^Method InfluxDB2\\DefaultApi\:\:check\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/InfluxDB2/DefaultApi.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array\<string\>, array\<string, array\<string\>\|bool\|Psr\\Http\\Message\\StreamFactoryInterface\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/InfluxDB2/DefaultApi.php

		-
			message: '#^Parameter \#3 \$responseHeaders of class InfluxDB2\\ApiException constructor expects array\<string\>\|null, array\<array\<string\>\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/InfluxDB2/DefaultApi.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: src/InfluxDB2/FluxCsvParser.php

		-
			message: '#^Loose comparison via "\=\=" is not allowed\.$#'
			identifier: equal.notAllowed
			count: 1
			path: src/InfluxDB2/FluxCsvParser.php

		-
			message: '#^Method InfluxDB2\\FluxCsvParser\:\:parseLine\(\) has parameter \$csv with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/InfluxDB2/FluxCsvParser.php

		-
			message: '#^Method InfluxDB2\\FluxCsvParser\:\:parseValues\(\) has parameter \$csv with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/InfluxDB2/FluxCsvParser.php

		-
			message: '#^Method InfluxDB2\\FluxCsvParser\:\:toValue\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/InfluxDB2/FluxCsvParser.php

		-
			message: '#^Method InfluxDB2\\FluxCsvParser\:\:toValue\(\) has parameter \$strVal with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/InfluxDB2/FluxCsvParser.php

		-
			message: '#^Parameter \#1 \$fp of function fgetcsv expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/InfluxDB2/FluxCsvParser.php

		-
			message: '#^Property InfluxDB2\\FluxCsvParser\:\:\$tables type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/InfluxDB2/FluxCsvParser.php

		-
			message: '#^Class InfluxDB2\\FluxRecord implements generic interface ArrayAccess but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/InfluxDB2/FluxRecord.php

		-
			message: '#^PHPDoc tag @return with type mixed is not subtype of native type string\.$#'
			identifier: return.phpDocType
			count: 1
			path: src/InfluxDB2/FluxRecord.php

		-
			message: '#^Method InfluxDB2\\HealthApi\:\:health\(\) should return InfluxDB2\\Model\\HealthCheck but returns array\|object\|null\.$#'
			identifier: return.type
			count: 1
			path: src/InfluxDB2/HealthApi.php

		-
			message: '#^Call to an undefined method object\:\:getScripts\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/InfluxDB2/InvokableScriptsApi.php

		-
			message: '#^Method InfluxDB2\\InvokableScriptsApi\:\:createScript\(\) should return InfluxDB2\\Model\\Script but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/InfluxDB2/InvokableScriptsApi.php

		-
			message: '#^Method InfluxDB2\\InvokableScriptsApi\:\:invokeScriptRaw\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/InfluxDB2/InvokableScriptsApi.php

		-
			message: '#^Method InfluxDB2\\PointSettings\:\:getValue\(\) should return string but returns string\|false\.$#'
			identifier: return.type
			count: 1
			path: src/InfluxDB2/PointSettings.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/InfluxDB2/UdpWriter.php

		-
			message: '#^Method InfluxDB2\\UdpWriter\:\:write\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/InfluxDB2/UdpWriter.php

		-
			message: '#^Property InfluxDB2\\UdpWriter\:\:\$socket \(resource\|null\) does not accept resource\|false\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/InfluxDB2/UdpWriter.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/InfluxDB2/Worker.php

		-
			message: '#^Parameter \#1 \$data of method InfluxDB2\\Worker\:\:write\(\) expects array\<int, array\{key\: InfluxDB2\\BatchItemKey, data\: list\<string\>\}\>, non\-empty\-array\<int, array\{key\?\: InfluxDB2\\BatchItemKey, data\: non\-empty\-list\<string\>\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/InfluxDB2/Worker.php

		-
			message: '#^Parameter \#2 \$data of method InfluxDB2\\Worker\:\:existsKey\(\) expects array\<int, array\{key\: InfluxDB2\\BatchItemKey, data\: list\<string\>\}\>, array\<int, array\{key\?\: InfluxDB2\\BatchItemKey, data\: list\<string\>\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/InfluxDB2/Worker.php

		-
			message: '#^Method InfluxDB2\\WriteApi\:\:addDefaultTags\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/InfluxDB2/WriteApi.php

		-
			message: '#^Method InfluxDB2\\WriteApi\:\:write\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/InfluxDB2/WriteApi.php

		-
			message: '#^Parameter \#1 \$data of method InfluxDB2\\WriteApi\:\:addDefaultTags\(\) expects array\|InfluxDB2\\Point, array\|InfluxDB2\\Point\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/InfluxDB2/WriteApi.php

		-
			message: '#^Parameter \#2 \$precision of static method InfluxDB2\\WritePayloadSerializer\:\:generatePayload\(\) expects ''ms''\|''ns''\|''s''\|''us''\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/InfluxDB2/WriteApi.php

		-
			message: '#^Binary operation "\." between InfluxDB2\\BatchItem\|string\|null and "\\n" results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/InfluxDB2/WritePayloadSerializer.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/InfluxDB2/WritePayloadSerializer.php

		-
			message: '#^Method InfluxDB2\\WritePayloadSerializer\:\:generatePayload\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/InfluxDB2/WritePayloadSerializer.php

		-
			message: '#^Method InfluxDB2\\WriteRetry\:\:retry\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/InfluxDB2/WriteRetry.php

		-
			message: '#^Method InfluxDB2\\WriteRetry\:\:retry\(\) has parameter \$callable with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/InfluxDB2/WriteRetry.php

		-
			message: '#^Method InfluxDB2\\Writer\:\:write\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/InfluxDB2/Writer.php

		-
			message: '#^Property InfluxDB2Test\\BasicTest\:\:\$requests \(array\<int, array\{request\: Psr\\Http\\Message\\RequestInterface, response\: Psr\\Http\\Message\\ResponseInterface\|null, error\: mixed, options\: array\<mixed\>\}\>\) does not accept array\<array\{request\: Psr\\Http\\Message\\RequestInterface, response\: Psr\\Http\\Message\\ResponseInterface\|null, error\: mixed, options\: array\<mixed\>\}\>\|ArrayAccess\<int, array\{request\: Psr\\Http\\Message\\RequestInterface, response\: Psr\\Http\\Message\\ResponseInterface\|null, error\: mixed, options\: array\<mixed\>\}\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/BasicTest.php

		-
			message: '#^Parameter object of print cannot be converted to string\.$#'
			identifier: print.nonString
			count: 1
			path: tests/ITBucketServiceTest.php

		-
			message: '#^Offset ''org'' might not exist on array\{url\: string, token\: string, bucket\?\: string, org\?\: string, precision\?\: ''ms''\|''ns''\|''s''\|''us'', allow_redirects\?\: bool, debug\?\: bool, logFile\?\: string, \.\.\.\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: tests/IntegrationBaseTestCase.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''InfluxDB2\\\\InvokableScriptsApi'' and InfluxDB2\\InvokableScriptsApi will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/InvokableScriptsApiTest.php

		-
			message: '''
				#^Call to deprecated method expectWarning\(\) of class PHPUnit\\Framework\\TestCase\:
				https\://github\.com/sebastianbergmann/phpunit/issues/5062$#
			'''
			identifier: method.deprecated
			count: 1
			path: tests/PointTest.php

		-
			message: '''
				#^Call to deprecated method expectWarningMessage\(\) of class PHPUnit\\Framework\\TestCase\:
				https\://github\.com/sebastianbergmann/phpunit/issues/5062$#
			'''
			identifier: method.deprecated
			count: 1
			path: tests/PointTest.php

		-
			message: '#^Parameter \#1 \$data of static method InfluxDB2\\Point\:\:fromArray\(\) expects array\{name\: string, tags\?\: array\<string, string\|Stringable\>, fields\?\: array\<string, bool\|float\|int\|string\|null\>, time\?\: DateTimeInterface\|float\|int\|null, precision\?\: ''ms''\|''ns''\|''s''\|''us''\|null\}, array\{tags\: array\{host\: ''aws'', region\: ''us''\}, fields\: array\{level\: 5, saturation\: ''99%%''\}, time\: 123\} given\.$#'
			identifier: argument.type
			count: 1
			path: tests/PointTest.php

		-
			message: '#^Parameter \#1 \$time of method InfluxDB2\\Point\:\:time\(\) expects DateTimeInterface\|float\|int, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/PointTest.php

		-
			message: '#^Parameter \#2 \$tags of class InfluxDB2\\Point constructor expects array\<string, string\|Stringable\>\|null, array\<string, array\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/PointTest.php

		-
			message: '#^Parameter \#2 \$value of method InfluxDB2\\Point\:\:addTag\(\) expects string\|Stringable\|null, int given\.$#'
			identifier: argument.type
			count: 1
			path: tests/PointTest.php

		-
			message: '#^Parameter \#1 \$query of method InfluxDB2\\QueryApi\:\:queryStream\(\) expects InfluxDB2\\Model\\Query\|string, null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/QueryApiStreamTest.php

		-
			message: '#^Parameter \#1 \$query of method InfluxDB2\\QueryApi\:\:query\(\) expects InfluxDB2\\Model\\Query\|string, null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/QueryApiTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Psr\\\\Http\\\\Message\\\\RequestInterface'' and null will always evaluate to false\.$#'
			identifier: staticMethod.impossibleType
			count: 1
			path: tests/WriteApiBatchingTest.php

		-
			message: '#^Parameter \#1 \$glue of function implode expects array, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/WriteApiTest.php
